:root {
    --color1: #05b1b1;
    --color2: #52339a;
}
header, footer, section {
    padding: 100px 0;
}
header {
    padding: 200px 0;
}
header, footer {
    background: var(--color1);
    background: url("../img/pattern.png"), -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: url("../img/pattern.png"), -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url("../img/pattern.png"), linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: url("../img/pattern.png"), progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b1b1', endColorstr='#52339a',GradientType=1 );
    background-size: contain;
}
.play_btn {
    width: 60px;
    height: 60px;
    background-color: var(--color1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.play_btn:hover {
    background-color: var(--color2);
    transition: all 0.5s ease;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent white;
    margin-left: 5px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.order_btn {
    color: white;
    background-color: var(--color2);
    transition: all 0.5s ease;
    padding: 10px 40px;
    margin: 20px 0;
}
.order_btn:hover {
    background-color: var(--color1);
    color: white;
}

.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
/* О курсе */
.about, .course_program {
    background-color: #eee;
}
.icon_wrap {
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--color2);
    margin: 0 auto;
}
.line {
    width: 25%;
    height: 3px;
    background: var(--color1);
    margin: 0 auto;
}
/* Курс для тех кто */
.forwho h5 {
    border: 3px solid var(--color1);
    padding: 40px 0;
}
/* Программа курса */
.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--color2);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}